.home{
    height: auto;
    width: 100%;
    
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home span{
    color: var(--azulzin);
}

.home h1, h3{
    font-weight: 300;
}

.home h1, h3, p{
    margin: 0;
}

.after-home{
    border: 2px solid white;
    border-radius: 50%;
    width: 300px;
}