.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: white;
    border:1px solid white;
    border-radius: 20px;
    padding-inline: 30px;
    margin-top: 30px;
}

.navibar-header{
    display: flex;
    gap: 10px;
}

.navibar-header a{
    text-decoration: none;
    color: inherit;
}

.navibar-header li{
    list-style: none;
    cursor: pointer;
    transition: 0.2s;
    padding: 8px;
    border-radius: 8px;
    position: relative;
    display: inline-block;
}

.navibar-header li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navibar-header li:hover::after {
  transform: scaleX(1);
}



